# IMC2 Freedom C++ CL-2.1 Dawn of Time 1.69r configuration file.
# This file can now support the use of tildes in your strings.
# This information can be edited online using the 'imcconfig' command.
LocalName      Dawn
Autoconnect    1
MinPlayerLevel 10
MinImmLevel    92
AdminLevel     98
Implevel       100
InfoName       Dawn
InfoHost       Somewhere
InfoPort       0
InfoEmail      private
InfoWWW        http://www.dawnoftime.org
InfoBase       Dawn of Time 1.69r
InfoDetails    Short description of some sort

# Your server connection information goes here.
# This information should be available from the network you plan to join.
ServerAddr     server02.intermud.us
ServerPort     9000
ClientPwd      dfjkhjkf
ServerPwd      ksdjfhdjkf
#SHA256 auth: 0 = disabled, 1 = enabled.
SHA256         1
